<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<title>Trabajo Practico N°3</title>
</head>
<body>

	<header>
		<h1>Programacion Visual!!!</h1>
	</header>
	<nav>
		<ul>
			<li><a href="#inicio">Inicio</a></li>
			<li><a href="#receta">Receta de sopa de cebolla</a></li>
			<li><a href="#noticia">Noticia</a></li>
		</ul>
	</nav>

	<main>
		<section id="incio">
			<h2>Inicio</h2>
			<p>Introduccion al lenguaje HTML y hojas de estilos CSS</p>

			<h3>Top 3 lenguajes de programacion</h3>
			<ol>
				<li>Javascript/Typescript</li>
				<li>Phytom</li>
				<li>Java</li>
			</ol>

			<table>
				<tr>
					<th>Nombre</th>
					<th>Comprar</th>
					<th>Venta</th>
				</tr>
				<tr>
					<td>EUR/USD</td>
					<td>1,0768</td>
					<td>1,0770</td>
				</tr>
				<tr>
					<td>USD/EUR</td>
					<td>0,9285</td>
					<td>0,9286</td>
				</tr>
				<tr>
					<td>USD/JPY</td>
					<td>153,91</td>
					<td>153,93</td>
				</tr>
			</table>
		</section>
		<section id="receta">
			<h3>SOPA DE CEBOLLA</h3>
			<p>Probablemente, la reina de las sopas de invierno. Consistente y sabrosa tenemos la mejor receta para elaborar una sopa de cebolla exquisita</p>
			
			<h4>Ingredientes</h4>
			<ul>
				<li>1 litro de caldo de carne</li>
				<li>1 copita de vino blanco</li>
				<li>½ cucharada de harina</li>
				<li>½ barra de pan</li>
				<li>50 gramos de queso rallado</li>
				<li>1 ramita de tomillo</li>
				<li>1 ramita de tomillo</li>
			</ul>
			<h4>Preparación</h4>
			<ul>
				<li><strong>Paso 1.</strong> Pela las cebollas y córtalas en juliana. Calienta un fondo de aceite en una cacerola amplia, añádelas y rehógalas durante 10 o 12 minutos, removiendo hasta que estén blanditas y caramelizadas.</li>
				<li><strong>Paso 2.</strong> Agrega la harina, tuéstala 1 minuto, removiendo, y vierte el vino. Sube el fuego y déjalo evaporarse 1 minuto más. Añade el caldo, salpimienta y cuece a fuego lento 30 minutos. Mientras, corta el pan en rebanadas.</li>
				<li><strong>Paso 3.</strong> Reparte sobre ellas el queso y unas hojitas de tomillo. Gratínalas bajo el grill unos minutos hasta que la superficie se dore. Sirve la sopa enseguida, caliente y acompañada de las tostaditas.</li>
			</ul>
		</section>
		<section id="noticia">
			<h2>Google acaba de despedir a todo su equipo de Python de EE.UU</h2>
			<img src="https://i.blogs.es/5b4beb/the_python/1200_800.webp" alt="imagen de la noticia" width="706">
			<p>Google ha despedido a todo su actual equipo de desarrollo de Python, una decisión inesperada enmarcada en una política de despidos que también está afectando a otros departamentos de la compañía.</p>
			<p>El equipo de Python, que operaba desde Sunnyvale (California), tenía menos de diez miembros y era responsable de mantener una versión estable de Python en Google, actualizar miles de paquetes de terceros y de desarrollar un verificador de tipos llamado 'pytype', que realiza inferencia de código sin anotaciones de tipo en proyectos de gran envergadura.</p>
			<p>La eliminación de este equipo, que también proporcionaba asistencia técnica dentro de la compañía y trabajaba conjuntamente con otros equipos de desarrollo, como los de aprendizaje automático e IA, ha jugado un papel crucial en la supervisión del ecosistema de Python dentro de Google, está generando mucho debate en redes.</p>
			
		</section>

	</main>
	<aside>
		<img src="https://www.noticias.dev/_next/image?url=%2F_next%2Fstatic%2Fmedia%2F22.8fcbc1a1.webp&w=750&q=75" alt="imagen de microsoft vs apple" width="235" >
		<h3>Microsoft supera a Apple, el lenguaje del año y la pesadilla de las Cookies</h3>
		<p>🏆 Microsoft SUPERA a APPLE en capitalización del mercado. Un giro ¿inesperado? en la industria. Lo cierto es que la empresa de Redmond lleva tiempo haciendo las cosas bien.</p>
	</aside>
		
	<footer>
		<h4>Nuestras redes sociales</h4>
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">X</a></li>
		</ul>
		
		<h4>Contactanos!</h4>
		<ul>
			<li>Email: unaPagina@gmail.com</li>
			<li>Telefono: 388111111</li>
		</ul>
		
		
	</footer>
</body>
</html>