<!DOCTYPE html>
<html>
<head lang="es">
	<meta charset="UTF-8">
	<title>Trabajo Practico N°3</title>
</head>
<body>

	<header>
		<h1>Programacion Visual</h1>
	</header>
	<nav>
		<ul>
			<li>Inicio</li>
			<li>Menu</li>
			<li>Otros</li>
		</ul>
	</nav>
	
	<main>
		<section id="incio">
			<h2>Inicio</h2>
			<p>Empezando con el trabajo practico n°3 de Programacion Visual</p>
			
			<h3>Top 3 lenguajes de programacion</h3>
			<ol>
				<li>Javascript/Typescript</li>
				<li>Phytom</li>
				<li>Java</li>
			</ol>
			
			<table>
				<tr>
					<th>Alumno</th>
					<th>Materia</th>
					<th>LU</th>
				</tr>
				<tr>
				
				</tr>
				
			</table>
		</section>
		<section id="menu"></section>
		<section id="otros"></section>	
		
		<aside>
		</aside>
	</main>

</body>
</html>