<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Trabajo Practico N°3</title>
<link rel="stylesheet" href="../static/css/estilos.css" />
</head>
<body>
	<header id="cabecera">
		<h1>Programacion Visual!!!</h1>
	</header>
	<nav class="navegacion">
		<ul class="lista">
			<li><a class="navEnlace" href="#inicio">Inicio</a></li>
			<li><a class="navEnlace" href="#lambda">Interfaces
					Funcionales</a></li>
			<li><a class="navEnlace" href="#spring">Spring</a></li>
			<li><a class="navEnlace" href="./visual.html">Formulario de
					usuario</a></li>
		</ul>
	</nav>

	<main class="contenido">
		<section class="seccion" id="incio">
			<h2>Inicio</h2>
			<p>Introduccion al lenguaje HTML y hojas de estilos CSS</p>

			<h3>Comisiones de Programacion Visual</h3>
			<ol>
				<li>Teoría única: Miércoles: 14 a 17 hs</li>
				<li>Comisión 1 Práctica: Lunes: 18 a 21 hs</li>
				<li>Comisión 2 Práctica: Jueves 14 a 17 hs</li>
				<li>Comisión 3 Práctica: Viernes 18 a 21 hs</li>
			</ol>

			<h4>Profesores de Catedra</h4>
			<table class="tabla">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Comision</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Ariel</td>
						<td>Vega</td>
						<td>Teoria</td>
					</tr>
					<tr>
						<td>Carolina</td>
						<td>Apaza</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Juan Carlos</td>
						<td>Rodriguez</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Gustavo</td>
						<td>Sosa</td>
						<td>3</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section class="seccion" id="lambda">
			<h3>Objetivos</h3>
			<p>Conceptualizar brevemente el uso de interfaces</p>
			<p>Introducir las funcionalidades que ofrece Java para la
				programación funcional</p>
			<p>Facilitar recursos para realizar pruebas unitarias</p>

			<h3>Expresion Lambda en Java</h3>
			<p>En Java, las expresiones Lambda básicamente expresan
				instancias de interfaces funcionales (una interfaz con un único
				método abstracto se denomina interfaz funcional). Las expresiones
				Lambda en Java son lo mismo que las funciones lambda, que son un
				bloque corto de código que acepta entradas como parámetros y
				devuelve un valor resultante. Las expresiones Lambda se incluyeron
				recientemente en Java SE 8.</p>

			<h3>Funcionalidades de la expresión Lambda en Java</h3>
			<p>Las expresiones Lambda implementan la única función abstracta
				y, por lo tanto, implementan interfaces funcionales. Las expresiones
				lambda se agregan en Java 8 y proporcionan las siguientes
				funcionalidades.</p>

			<ul>
				<li>Habilite para tratar la funcionalidad como un argumento de
					método o el código como datos.</li>
				<li>Una función que se puede crear sin pertenecer a ninguna
					clase.</li>
				<li>Una expresión lambda se puede transmitir como si fuera un
					objeto y ejecutarse según demanda.</li>
			</ul>
		</section>
		<section class="seccion" id="spring">
			<h2>Spring</h2>
			<p>Spring es una potente plataforma (framework) Java de código
				abierto que se utiliza para crear y mantener aplicaciones web.</p>

			<h3>¿Qué puede hacer spring?</h3>
			<ul>
				<li>Microservicios
					<p>Ofrezca rápidamente funciones de nivel de producción con
						microservicios que evolucionan de forma independiente.</p>
				</li>
				<li>Reactivo
					<p>La arquitectura asíncrona y sin bloqueo de Spring significa
						que puede sacar más provecho de sus recursos informáticos.</p>
				</li>
				<li>aplicaciones web
					<p>Marcos para aplicaciones web rápidas, seguras y responsivas
						conectadas a cualquier almacén de datos.</p>
				</li>
				<li>Evento conducido
					<p>Integre con su empresa. Reaccionar ante eventos
						empresariales. Actúe sobre sus datos de transmisión en tiempo
						real.</p>
				</li>
				<li>Nube
					<p>Su código, cualquier nube: lo tenemos cubierto. Conecte y
						escale sus servicios, sea cual sea su plataforma.</p>
				</li>
			</ul>
		</section>
	</main>
	<aside class="adicional">
		<img src="../static/img/spring-boot.png"
			alt="imagen de microsoft vs apple" loading="lazy"
			class="adicionalImagen" />
		<h3>Spring boot</h3>
		<p class="parrafo">Spring Boot es un marco web Java de código
			abierto basado en microservicios. El marco Spring Boot crea un
			entorno totalmente listo para producción que es completamente
			configurable utilizando su código prediseñado dentro de su base de
			código. La arquitectura de microservicio proporciona a los
			desarrolladores una aplicación completamente cerrada, incluidos
			servidores de aplicaciones integrados</p>

		<h4>Características</h4>
		<ul>
			<li>Cree aplicaciones Spring independientes</li>
			<li>Proporcione dependencias 'iniciales' obstinadas para
				simplificar la configuración de su compilación</li>
			<li>Configure automáticamente bibliotecas Spring y de terceros
				siempre que sea posible</li>
			<li>Absolutamente sin generación de código y sin necesidad de
				configuración XML</li>
		</ul>
	</aside>

	<footer id="pie">
		<div>
			<h4 class="tituloCategoria">Nuestras redes sociales</h4>
			<ul class="lista">
				<li><a class="pieEnlace" href="#">Facebook</a></li>
				<li><a class="pieEnlace" href="#">Instagram</a></li>
				<li><a class="pieEnlace" href="#">X</a></li>
			</ul>
		</div>

		<div>
			<h4 class="tituloCategoria">Contactanos!</h4>
			<ul class="lista">
				<li>Email: <a class="pieEnlace" href="#">unaPagina@gmail.com</a></li>
				<li>Telefono: 388111111</li>
			</ul>
		</div>
	</footer>
</body>
</html>